WebApp/Connected Services/TaskServiceReference/TaskService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:32011/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" />
  <xs:element name="GetAllTodoItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTodoItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" minOccurs="0" name="GetAllTodoItemsResult" nillable="true" type="q1:ArrayOfTodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTodoItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserTodoItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" minOccurs="0" name="GetUserTodoItemsResult" nillable="true" type="q2:ArrayOfTodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" minOccurs="0" name="item" nillable="true" type="q3:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTodoItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" minOccurs="0" name="AddTodoItemResult" nillable="true" type="q4:TodoItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTodoItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTodoItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTodoItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>