WebApp/Connected Services/TaskServiceReference/TaskService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TaskService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32011/TaskService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32011/TaskService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32011/TaskService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITaskService_GetAllTodoItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTodoItems" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetAllTodoItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTodoItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetUserTodoItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTodoItems" />
  </wsdl:message>
  <wsdl:message name="ITaskService_GetUserTodoItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserTodoItemsResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_AddTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITaskService_AddTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTodoItemResponse" />
  </wsdl:message>
  <wsdl:message name="ITaskService_DeleteTodoItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItem" />
  </wsdl:message>
  <wsdl:message name="ITaskService_DeleteTodoItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTodoItemResponse" />
  </wsdl:message>
  <wsdl:portType name="ITaskService">
    <wsdl:operation name="GetAllTodoItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetAllTodoItems" message="tns:ITaskService_GetAllTodoItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetAllTodoItemsResponse" message="tns:ITaskService_GetAllTodoItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserTodoItems">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/GetUserTodoItems" message="tns:ITaskService_GetUserTodoItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/GetUserTodoItemsResponse" message="tns:ITaskService_GetUserTodoItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/AddTodoItem" message="tns:ITaskService_AddTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/AddTodoItemResponse" message="tns:ITaskService_AddTodoItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <wsdl:input wsaw:Action="http://tempuri.org/ITaskService/DeleteTodoItem" message="tns:ITaskService_DeleteTodoItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITaskService/DeleteTodoItemResponse" message="tns:ITaskService_DeleteTodoItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITaskService" type="tns:ITaskService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTodoItems">
      <soap:operation soapAction="http://tempuri.org/ITaskService/GetAllTodoItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserTodoItems">
      <soap:operation soapAction="http://tempuri.org/ITaskService/GetUserTodoItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITaskService/AddTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTodoItem">
      <soap:operation soapAction="http://tempuri.org/ITaskService/DeleteTodoItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskService">
    <wsdl:port name="BasicHttpBinding_ITaskService" binding="tns:BasicHttpBinding_ITaskService">
      <soap:address location="http://localhost:32011/TaskService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>