WebApp/Connected Services/TaskServiceReference/TaskService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceApp.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TodoItem" nillable="true" type="tns:TodoItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTodoItem" nillable="true" type="tns:ArrayOfTodoItem" />
  <xs:complexType name="TodoItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Completed" type="xs:boolean" />
      <xs:element minOccurs="0" name="DateModified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TodoItem" nillable="true" type="tns:TodoItem" />
</xs:schema>